<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="userDao" class="dao.UserDaoImpl" >

    </bean>
    <bean id="orderDao" class="dao.OrderDaoImpl">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="bookDao"/>
    </bean>

    <bean id="bookDao" class="dao.BookDaoImpl">

    </bean>

    <bean id="userService" class="services.UserServiceImpl">
        <constructor-arg index="0" ref="userDao"/>
        <constructor-arg index="1" ref="bookDao"/>
        <constructor-arg index="2" ref="orderDao"/>
    </bean>

</beans>